:root {
  --gradient: radial-gradient(
    #d697ff,
    #db5aff,
    #ffc9fb,
    #ff51c5,
    #d563f1,
    #f55b5b
  );
}

.gradient-animation {
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
