.bottomMenu {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 10rem;
  height: 5rem;
  background: var(--floral-white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 1s;
  margin: 1rem;
  border-radius: 50%;
  background-color: #fd948e;
}
.hide {
  opacity: 0;
  right: -100%;
}
.show {
  opacity: 1;
  right: 0;
}
